{{define "index"}}
<!doctype html>
<html lang="en">

<head>
  <title>Todos in Go!</title>
  <link rel="stylesheet" href="/dist/tailwind.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body class="flex flex-col items-center justify-center p-2">
  <h1 class="text-5xl text-center font-bold">Tim's Todos</h1>
  <div class="md:w-[696px] sm:w-full">
    <form class="rounded-md border border-slate-200 shadow items-center p-2 flex mb-2 gap-2" hx-post="/todo" hx-target="#todo-list" hx-swap="beforeend"
      hx-on::after-request="this.reset()">
      <label class="font-bold" for="todo-input">Add Todo</label>
      <input class="border h-auto rounded-md flex-auto p-2" id="todo-input" type="text" name="todo" value="" autocomplete="off"/>
      <button class="border border-gray-300 rounded-md px-4 py-2" type="submit">
        Submit
      </button>
    </form>
    <ul id="todo-list" class="flex flex-col gap-2">
      {{range .}} {{template "todo" .}} {{end}}
    </ul>
  </div>
</body>

</html>
{{end}}
