{{define "login"}}
<!doctype html>
<html>

<head>
  <title>Login | Tim's Todo</title>
  <link rel="stylesheet" href="/dist/tailwind.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body class="flex flex-col items-center pt-4">
  <h1 class="text-center font-bold text-4xl my-4">
    Welcome to Tim's Todo List!
  </h1>
  <form hx-post="/auth/login"
    class="flex flex-col gap-4 md:border border-slate-300 sm:w-full md:shadow-md md:w-[696px] p-4 w-full rounded-md">
    <input class="border h-auto rounded-md flex-auto p-2" id="username" type="text" name="username" value=""
      placeholder="username" />
    <input class="border h-auto rounded-md flex-auto p-2" id="password" type="password" name="password" value=""
      placeholder="password" />
    <button type="submit" class="px-4 py-2 bg-blue-400 text-white rounded-md sm:w-full">
      Login
    </button>
  </form>
  <p>Have an account?</p>
  <p><a href="/register" class="text-blue-300">register</a> instead!</p>
</body>

</html>
{{end}}
